<aside class="comments" role="complementary">
  <h2>Comments</h2>
  <hr/>

  <div id="disqus_thread"></div>

<!--  <script>-->
<!--    {% include scripts/load-disqus.min.js %}-->
<!--  </script>-->
  <div>
  <!-- <script src="https://utteranc.es/client.js"
          repo="ryanhe4/ryanhe4.github.io"
          issue-term="pathname"
          label="comments"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>-->
    <script>
      'use strict';

      (function() {
        var commentContainer = document.querySelector('#utterances-comments');

        if (!commentContainer) {
          return;
        }

        var script = document.createElement('script');
        script.setAttribute('src', 'https://utteranc.es/client.js');
        script.setAttribute('repo', '{{ site.repository }}');
        script.setAttribute('issue-term', '{{ site.comments.utterances.issue_term | default: "pathname" }}');
        script.setAttribute('theme', '{{ site.comments.utterances.theme | default: "github-light" }}');
        script.setAttribute('crossorigin', 'anonymous');

        commentContainer.appendChild(script);
      })();
    </script>

  </div>
<!--  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>-->
</aside>
