$gray: #9a9a9a;
$gray-bg: #f9f9f9;
$gray-text: #787878;

$root-font-size: 16px;
$root-font-size-medium: 17px;
$root-font-size-large: 18px;
$root-line-height: 1.75;

$body-color: #333;
$body-bg: #fff;

$border-color: #e5e5e5;
$border-color-light: #eee;

$code-font-family: Menlo, Monaco, Consolas, monospace;
$code-color: inherit;

$break-point-1: 40em;
$break-point-2: 54em;
$break-point-3: 72em;
$break-point-4: 88em;
$break-point-5: 96em;
$break-point-dynamic: 102em;
$break-point-font-large: 125em;

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

$dynamic-width: calc(50% - 28rem);

$sans-serif-narrow: $sans-serif !default;
$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;

$type-size-6: 0.75em !default; // ~12px
$primary-color: #343434 !default;
$active-color: mix(#fff, $primary-color, 80%) !default;
$type-size-7: 0.6875em !default; // ~11px
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$text-color: #343434 !default;