// Uncomment to disable dingbat icons below posts
//hr.dingbat { display: none }

.language-plaintext{
  color: #bf616a;
  background-color: #f9f9f9;
  font-weight: bold;
}

@mixin darkmode-plaintext {
  .language-plaintext{
    color: hotpink;
    background-color: transparent;
    font-weight: bold;
  }
}

@media screen {
  body.dark-mode {
    @include darkmode-plaintext();
  }
}


