// Uncomment to disable dingbat icons below posts
//hr.dingbat { display: none }

.language-plaintext{
  color: #bf616a;
  background-color: #f9f9f9;
  font-weight: bold;
}

@mixin darkmode-plaintext {
  .language-plaintext{
    color: hotpink;
    background-color: transparent;
    font-weight: bold;
  }
}

//내부요소 설정

main.layout-post > article {
  h2 {
    border-bottom: thick double #666666;
  }
  p {
    color:#525f7f;
    strong {
      color: var(--body-color);
    }
  }
}

@mixin darkmode-maintext {
  main.layout-post > article {
    p {
      color: var(--body-color);
    }
  }
}

@media screen {
  body.dark-mode {
    @include darkmode-plaintext();
    @include darkmode-maintext();
  }
}


