<script>
  'use strict';

  (function() {

    w._uttLoading = typeof w._uttLoading != 'undefined' ? w._uttLoading : false;
    w._uttFirst = typeof w._uttFirst != 'undefined' ? w._uttFirst : true;

    function loadUtt(e) {
      var commentContainer = document.querySelector('#utterances-comments');

      if (!commentContainer) {
        return;
      }

      var script = document.createElement('script');
      script.setAttribute('src', 'https://utteranc.es/client.js');
      script.setAttribute('repo', 'ryanhe4/ryanhe4.github.io');
      script.setAttribute('issue-term', 'pathname');
      script.setAttribute('theme', 'github-light');
      script.setAttribute('crossorigin', 'anonymous');

      commentContainer.appendChild(script);
    }

    if (!w._uttLoading) {
      w._uttLoading = true;

      if (w.addEventListener) w.addEventListener('scroll', loadUtt, {passive: true});
      else if (w.attachEvent) w.attachEvent('onscroll', loadUtt);
      else w.onscroll = loadUtt;
    } else {
      w._uttFirst = false;
    }
  }());
</script>
